* {
  /* `otf-font-awesome` is required to be installed for icons */
  font-family: JetBrains Mono Nerd Font Propo;
  font-size: 12px;
  border-radius: 20px;
  border: none;
  color: #cdd6f4;
  transition-duration: 250ms;
}

window#waybar {
  background-color: transparent;
}

tooltip {
  background: rgba(30, 30, 46, 0.1);
}

#workspaces,
#clock,
#bluetooth,
#pulseaudio,
#backlight,
#network,
#memory,
#cpu,
#battery,
#tray,
#power-profiles-daemon,
#language,
#custom-night-mode,
#custom-power {
  background-color: rgba(30, 30, 46, 0.8);
}

#workspaces button:hover,
#clock:hover,
#bluetooth:hover,
#pulseaudio:hover,
#network:hover,
#backlight:hover {
  background-color: #313244;
}

#workspaces {
  margin-left: 10px;
  padding: 2px;
}

#workspaces button {
  margin: 0px;
}

#workspaces button.active {
  background-color: #181825;
  border: 1px solid #cba6f7;
}

#workspaces button.urgent {
  background-color: #f38ba8;
  color: #11111b;
}

#window {
  background-color: rgba(30, 30, 46, 0.4);
  font-style: italic;
  margin: 0px 20px;
  padding: 0px 20px;
}

window#waybar.empty #window {
  border: none;
}

#clock {
  padding: 0px 20px;
}

#bluetooth,
#pulseaudio,
#network,
#backlight,
#memory,
#cpu,
#battery,
#power-profiles-daemon,
#language,
#custom-night-mode,
#custom-power {
  border-radius: 0px;
  padding: 0px 10px;
}

#bluetooth {
  border-radius: 20px;
  color: #89b4fa;
  margin: 0px 5px;
}

#bluetooth.off {
  color: #9399b2;
}

#pulseaudio {
  color: #f2cdcd;
  border-radius: 20px 0px 0px 20px;
  padding-left: 10px;
  border-right: none;
}

#pulseaudio.bluetooth {
  color: #89b4fa;
}

#pulseaudio.muted {
  color: #f38ba8;
}

#pulseaudio:active {
  border-bottom: none;
}

#network {
  color: #74c7ec;
}

#backlight {
  color: #f9e2af;
  border-radius: 0px 20px 20px 0px;
  padding-right: 10px;
  margin-right: 5px;
}

#memory {
  color: #94e2d5;
  border-radius: 20px 0px 0px 20px;
  padding-left: 10px;
}

#cpu {
  color: #b4befe;
}

#battery {
  margin-right: 5px;
  color: #a6e3a1;
  border-radius: 0px 20px 20px 0px;
  padding-right: 10px;
}

#tray {
  margin-right: 5px;
  padding: 0px 10px;
  border: 1px solid #cba6f7;
}

#tray * {
  margin: 0px 5px;
}

#power-profiles-daemon {
  border-radius: 20px 0px 0px 20px;
  padding-left: 10px;
}

#custom-power {
  margin-right: 10px;
  border-radius: 0px 20px 20px 0px;
  padding-right: 10px;
}
